name: .NET

on:
  workflow_dispatch:
  #push:
  #  branches: [ "main" ]
  #pull_request:
  #  branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
        
    - name: Restore dependencies
      run: dotnet restore ./src/DavesDartsClub.sln
      
    - name: Build
      run: dotnet build ./src/DavesDartsClub.sln --no-restore
      
    - name: Test
      run: dotnet test ./src/DavesDartsClub.sln --no-build --verbosity normal
              
